{% extends "base.html" %}

{% block title %}
    <title>ログイン</title>
{% endblock %}

{% block content %}
    <a href="{{ url_for('auth.top') }}" class="btn btn-secondary btn-sm">◀ 戻る</a>

    <div class="main-container">
        <h2>ログイン</h2>
        {% for message in get_flashed_messages() %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.user.label }}<br>
                {{ form.user }}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password }}
            </div>
            <div>
                {{ form.login_submit(class="btn btn-primary") }}
            </div>
        </form>

        <a href="{{ url_for('auth.signup') }}">
            <button type="button" class="btn btn-secondary">新規登録</button>
        </a>
    </div>
{% endblock %}